<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/footer.css" rel="stylesheet">
    
</head>
<body>
    <p>This web page is fictional and for CST336!</p>
    
</body>
</html>